header {
  width:100%;
  margin:0px;
  border: 1px solid #0e325c;
  box-shadow: 4px 4px 2px #888888;
}
.bullets {
   float: left;
   margin: 10px;
   padding: 16px;
   width: 80%;
   border: 1px solid #0e325c;
   box-shadow: 4px 4px 2px #888888;
}   
footer {
  background-color:#0e325c;
  color:white;
  clear:both;
  text-align:center;
  padding:10px;	 	 
  margin: 10px;
  border: 1px solid #0e325c;
  box-shadow: 4px 4px 2px #888888;
}
img {
  margin: 10px;
  max-width:96%;
  height:auto;
}
