html, body {
  margin: 0;
  padding: 0;
  background: url("http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#div1 {
  display: fixed;
}
#li-nav {
  display: inline;
}
header {
  display: fixed;
}
nav {
  display: inline-block;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2D4981;
}

li {
    font-family: Aileron, Arial;
    float: left;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffff;
    color: #2D4981;
}

p {
    font-family: Aileron, Arial;
}

footer {
    font-family: Aileron, Arial;
    font-size: 0.8em;
    background-color: #2D4981;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
}
