html, body {
  margin: 0;
  padding: 0;
  background: url("../images/Denver-LoHi3.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#logo-img {
  width: 33%;
  max-width: 400px;
  height: auto;
  float: left;
}
#div1 {
  display: fixed;
}
#div2 {
  float: left;
  padding: 10px 10px 10px 10px; 
/*  background:rgba(220, 220, 220, 0.2); */
}
#li-nav {
  display: inline;
}
header {
  /*display: fixed;*/
  padding: 5px;
}
nav {
  display: inline-block;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    /*background-color: #2D4981;*/
}

li {
    font-family: Aileron, Arial;
    float: left;
    /*color: white;*/
}

li a {
    display: block;
    /*color: white;*/
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

li a:hover {
    /*background-color: #ffffff;*/
    /*color: #2D4981;*/
}

h3 {
    font-family: Aileron, Arial;
}
p {
    font-family: Aileron, Arial;
}

footer {
    font-family: Aileron, Arial;
    font-size: 0.8em;
    background-color: #2D4981;
    color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    clear: both;
    text-align: center;
}
