.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

html, body {
    background-color: #2d4981;
    /* complementary colors to #2d4981: #81502d, #817a2d, #732d81 */
    color: white;
}

.smaller {
  font-size: 0.75em;
}

.larger {
  font-size: 1.75em;
}

a:link {
  color: yellow;
}

a:visited {
  color: green;
}

a:hover {
  color: orange;
}

.center div {
    text-align: center;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.mission { grid-area: mission; }
.about { grid-area: about; }
.philosophy { grid-area: philosophy; }
.expertise { grid-area: expertise; }
.email { grid-area: email; }
.twitter { grid-area: twitter; }
.github { grid-area: github; }
.stackoverflow { grid-area: stackoverflow; }
.linkedin { grid-area: linkedin; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header'
    'menu mission'
    'menu philosophy'
    'menu expertise'
    'menu about'
    'menu footer';
  grid-gap: 10px 20px; /* row col spacing between grid elements */
  padding: 20px; /* padding around the grid container */
}

.grid-container > div {
  font-family: "Lucida Console", Courier, monospace;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  width: 75%;
  padding: 10px 20px;
}

.mission:hover {
    background: #284071;
    color: #d9e1f2;
}

.philosophy:hover {
    background: #284071;
    color: #d9e1f2;
}

.expertise:hover {
    background: #284071;
    color: #d9e1f2;
}

.about:hover {
    background: #284071;
    color: #d9e1f2;
}

.hover3-image, .c3:hover .normal3-image {
  display: none;
  padding: 10px;
}

.c3:hover .hover3-image {
  display: inline;
  padding: 10px;
}

.normal-image {
    padding: 10px;
    max-width: 50px;
    max-height: 50px;
}

.hover-image, .c2:hover .normal-image {
  display: none;
  padding: 10px;
  max-width: 50px;
  max-height: 50px;
}

.c2:hover .hover-image {
  display: inline;
  padding: 10px;
  max-width: 50px;
  max-height: 50px;
}

.header h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 2.5s steps(50, end), step-end 4.1;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
